@charset "utf-8";

@use 'settings' as *;

@mixin media($media) {
  @if not map-has-key($media-types, $media) {
    @warn "#{$media}は登録されていないブレークポイントです。代わりにデスクトップ用のポイントを設定します";
    $media: default;
  }
  @media #{map-get($media-types, $media)} {
    @content;
  }
}

@mixin button-basic{
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 5px 1em;
  height: 45px;

  &:hover {
    text-decoration: none;
  }
}